<%= render 'base' %>
<h1><%= t("mongoid.models.notice") %></h1>
<div id="notices">
  <table class="table table-bordered table-striped table-condensed">
    <tr class="head">
      <td>编号</td>
      <td><%= t("mongoid.attributes.notice.content") %></td>
      <td>创建时间</td>
      <td class="opts"></td>
    </tr>
    <% @notices.each do |item| %>
    <tr class="<%= cycle("","even") %>">
      <td><%= item.id %></td>
      <td><%= item.content %></td>
      <td><%= l(item.created_at, format: :long) %></td>
      <td>
        <%= link_to "", edit_notice_path(item.id), class: "icon small_edit" %>
        <%= link_to "", notice_path(item.id), method: :delete, 'data-confirm' => '确定要删除吗?', class: "icon small_delete" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<div class="tools">
  <a href="<%= new_notice_path %>" class="btn btn-small btn-success">新建</a>
</div>
